body { 
    min-height: 95vh;
    background-image: url(./imgs/Default.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 12vh;
    color: #f2f2f2;
}

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    color: #000;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.6)cv ; /* white with 80% opacity */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* black shadow with 50% opacity */
}
.search { 
    margin-left: 25px;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    display: flex;
}
 
.search button {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    float: right;
    margin-left: 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: none;
    text-align: center;
}
.search button img {
    justify-self: center;
    align-self: center;
    all: unset; 
    width: 30px; 
    height: 30px;
    text-align: center;
}
.convertTemp { 
    justify-self: center;
    align-self: center;
    text-align: center;
}
.convertTemp button { 
    background: #84cc16;
    border-radius: 4px;
    cursor: pointer;
}
.celsius { 
    background: #ef4444;
    border-radius: 4px;
    cursor: pointer;
}

#mainWeatherContainer { 
    display: flex; 
    gap: 20px; 
    justify-self: center;
    align-self:center;
    justify-content: center; 
    align-content: center;
    text-align: center;
}
.dayWeatherContainer { 
    width: 200px; 
    height: 200px;
}