body { 
    min-height: 95vh;
    background-image: url(./imgs/Default.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 12vh;
    color: #f2f2f2;
}

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    color: #000;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.6)cv ; /* white with 80% opacity */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* black shadow with 50% opacity */
}
.search { 
    margin-left: 25px;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    display: flex;
    min-width: 95vw;
}
.search button {
    justify-self: center;
    align-self: center;
    color: #f2f2f2;
    float: right;
    margin-left: 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background: none;
    text-align: center;
}
.search button img {
    justify-self: center;
    align-self: center;
    all: unset; 
    width: 30px; 
    height: 30px;
    text-align: center;
}
.convertTemp { 
    justify-self: center;
    align-self: center;
    margin-left: auto;
    text-align: center;
}
.convertTemp button { 
    background: #84cc16;
    border-radius: 4px;
    cursor: pointer;
}
.celsius { 
    background: #ef4444;
    border-radius: 4px;
    cursor: pointer;
}

#mainWeatherContainer { 
    display: flex; 
    gap: 20px; 
    justify-self: center;
    align-self:center;
    justify-content: center; 
    align-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#mainWeatherContainer p { 
    font-size: 1.3rem;
}
#mainWeatherContainer img { 
    width: 80px; 
    height: 80px;
}

.dayWeatherContainer { 
    width: 200px; 
    height: 200px;
}
@media only screen and (max-width: 600px) {
    body {
        background-size: cover; 
    }
    
    .search input[type=text] {
        width: 100%; 
        margin: 0; 
        border-radius: 0; 
    }

    .search, .convertTemp {
        margin: 0 10px; 
    }

    .dayWeatherContainer {
        width: 100%; 
        height: auto; 
    }

    #mainWeatherContainer {
        flex-direction: column; 
    }

    .convertTemp button, .celsius {
        
        padding: 10px; 
        font-size: 16px; 
    }
}